HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Build ###
build/
!**/src/main/**/build/
!**/src/test/**/build/

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs ###
*.log

### OS specific files ###
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

### Maven ###
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties.backup
dependency-reduced-pom.xml

### Other ###
# Temporary files
*.swp
*.swo
*.tmp
*.bak

# Local environment configs (don’t push your secrets!)
application-*.yml
application-*.properties
.env
